.first-color { 
	-fx-background-color: #5585b5; 
}
	
.second-color { 
	-fx-background-color: #53a8b6; 
}

.third-color { 
	-fx-background-color: #79c2d0; 
}

.fourth-color { 
	-fx-background-color: #bbe4e9; 
}

.fifth-color {
	-fx-background-color: #d6eff2;
}


/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */